@charset "UTF-8";

#forget {
	margin: 50px auto 100px;
}
#forget_user {
	margin: 40px auto 0;
	padding: 20px;
	width:30%;
	height:200px;
	border:1px solid lightgray;
	border-radius:10px;
}
#forget_user span {
	font-size:0.8em;
	color:gray;
}
#forget_submit {
	width:100px;
	border-radius:10px;
}
#forget_form select {
	display:inline-block;
	width:25%;
}

#box {
	width:50%;
	height:100%;
	padding:0 50px;
	text-align:center;
}
#selectbox {
	width:250px;
	height:250px;
	background-color:gray;
}